version: '3.8'
services:
 #Database
  mongo_db:
    image: mongo
    container_name: mongo_db
    restart: unless-stopped
    ports:
      - 27017:27017 
    networks:
      - smart_home_network

#Frontend
  angular-ui:
    build:
      context: ./smart_home_web-app
      dockerfile: Dockerfile
    restart: unless-stopped  
    ports:
      - "4200:80"
    container_name: angular-ui
    volumes:
      - ./smart_home_web-app/dist:/dist
    depends_on:
      - smart-home-server
    networks:
      - smart_home_network
    links:
      - smart-home-server

#Backend
  server:
    build:
      context: ./smart-home-server
      dockerfile: Dockerfile
    ports:
      - "9999:9999"
    container_name: smart-home-server
    restart: unless-stopped
    depends_on:
      - mongo_db
    networks:
      - smart_home_network

networks:
  smart_home_network:
    driver: bridge
